body{
  /*background-color: #081C24;*/
  background-image: url(../imagenes/fondo3.jpg);
  height: 100%ñ
}
 /*header*/
.cabecera {
  width: 100%;
  padding: 0px;
  margin: 1px;
  position: relative;
  display: flex;
}

.headerul{
  background-image: linear-gradient(rgba(255, 170, 85, 0.5); rgba(255, 170, 85, 0) );
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 170px;
  height: 170px;
  border-radius: 100px;
}

.form-groupSearch{
  width: 110%;
}

.buscadorheader{
  width: 40%;
}

.form-control{
  width: 90%;
  background-color: none;
  height: 50px;
  border-radius: 25px;
}

#icono{
  color: white;
  font-size: 30px;
}

.container {
  width: 100%;
}
/*hasta aca header*/


/*footer*/
.Piedepagina{
  display: flex;
  flex-direction: row;
}

.grupo {
color: white;
font-size: 10px;
}

.logoTmdb{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.logoTmdb img{
  width: 90px;
  height: 70px;
  position: relative;
  top: 23px;
  left: 20px;
}

/*Hasta aca footer*/
