body{
  background-color: #081C24;
}

.headerul{
<<<<<<< HEAD
  background-image: linear-gradient(rgba(255, 170, 85, 0.5); rgba(255, 170, 85, 0) );
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.cabezera {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.container {
  width: 100%;
=======
  background-color: red;
  display: flex;
  justify-content: center;
>>>>>>> 755390d81597fc165ac98643febd608d57ef4916
}
