body{
  background-color: #081C24;
}
/*cabezera*/
.headerul{
  background-image: linear-gradient(rgba(255, 170, 85, 0.5); rgba(255, 170, 85, 0) );
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.cabecera {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.container {
  width: 100%;

}
.paginas a {
font-style: italic;
color: red;
text-align: center;
text-decoration: none;

}



















/*footer*/
.Piedepagina{
  display: flex;

}

.grupo {
color: white;

>>>>>>> 4f6430ede57c647efef3d862c3619ffc4003efb2
}
