main {
padding-top: 172px;
}

.resultados{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
list-style: none;
}

.unidad{
display: flex;
position: relative;
justify-content: center;
width: 18%;
text-align: center;
align-items: center;
margin: 10px;
}

.botones {
left: -20px;
}

.tituloserie{
display: flex;
position: absolute;
opacity: 0;
height: 100%;
width: 100%;
justify-content: center;
align-items: center;
}

.poster {
opacity: 1 !important;
}

.unidad:hover .contenedortitulo{
height: 100%;
width: 100%;
background-color: rgba(30, 30, 30, 0.5);
}

.unidad:hover a{
text-decoration: underline;
color: rgba(255, 255, 255, 1);
opacity: 1;
}

.contenedortitulo{
display: flex;
position: absolute;
top:0;
left: 0;
justify-content: center;
z-index: 10;
align-items: center;
}




@media (min-width: 451px) and (max-width: 750px){
  .resultados{
    display:flex;
    flex-direction: column;
  }
  .unidad {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .titulin{
    font-size: 30px;
  }

}

@media (max-width: 550px) {
  .logo{
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 450px) {
  .logo{
    width: 80px;
    height: 80px;
  }
  .serie {
    width: 100% !important;
  }
  .logoTmdb img{
    width: 110px;
      height: 55px;
      left: 60%;}
  .resultados{
        display:flex;
        flex-direction: column;
        width: 100%;
      }
      .unidad {
        width: 100%;
      }
  }

  h2{
    font-size: 10px !important;
  }
}
